<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
</head>



<h1 align="center"><%= @user.username %></h1>


<table align="center">
    <% @user.photos.each do |photo| %>
      <tr>
        <td><%= link_to image_tag(photo.url), user_photo_path(photo.user, photo) %></td>
          <% end %>
            </tr>
              </table>

<br>


<%= link_to "Gallery", photos_path %></>
<%= link_to "Users", users_path %></>

<% if @user.id == current_user.id %>
<%= link_to "New Upload", new_user_photo_path(@user) %></>
<%= link_to "Settings", edit_user_path(@user) %>
<% end %>


