<h1 align="center">Gallery</h1>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<%= stylesheet_link_tag 'application.css' %>



<% if logged_in? %>
    <%= link_to "Home", home_path %></>
    <%= link_to "Users", users_path %></>
    <%= link_to "Profile", user_path(current_user) %>
       <% end %>


<table align="center">
    <% @photos.each do |photo| %>
      <tc>
        <td><%= link_to image_tag(photo.url), user_photo_path(photo.user, photo) %></td>
          <% end %>
            </tc>
              </table><br>

<h3 align="center">Recent Uploads</h3>

<table align="center">
    <% @photos_latest.each do |photo| %>
      <tc>
        <td><%= link_to photo.title, user_photo_path(photo.user, photo) %></td>
          <% end %>
            </tc>
              </table><br>

