<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<%= stylesheet_link_tag 'application.css' %>

<h1 align="center"><%= @photo.title %></h1><br>

<div align="center">
  <a target="_blank" href="<%= @photo.url %>">
    <img src="<%= @photo.url %>" style="width:150px">
      </a>
</div>



<% if @photo.user.id == current_user.id %>
  <%= link_to "Edit Photo", edit_user_photo_path(@photo) %>
    <% end %>
      <%= link_to "Artist Page", user_path(@photo.user) %>


<div align="center"><%= render partial: "comments/comments", locals: { photo: @photo, comment: @comment } %></div>


<% if @photo.comments.count >= 1 %>


<p>Comments:</p>

<ul>
  <% @photo.comments.all.each do |comment| %> 
        
    <li><%= comment.content %> - <%= link_to comment.user.username, user_path(comment.user) %></li> 
            
        <% end %>
          </ul>
            <% else %>
              <p>0 Comments</p>
                <% end %>

